{% extends "base.html" %}
{% load custom_filter %}

{% block content %}
<h1>Welcome, {{ user }}!!!!!</h1>
<ul>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{# Using Filter #}
{# String Manipulation / String filters #}
<p>Title case: {{ user | title }}</p>
<p>CapFirst: {{ user | capfirst }}</p>
<p>Upper: {{ user | upper }}</p>
<p>Lower: {{ user | lower }}</p>
<p>Length: {{ user | length }}</p>
<p>Slice: {{ user | slice:":3" }}</p>
<p>TruncateChar: {{ user | truncatechars:4 }}</p>
<p>TruncateWords: {{ user | truncatewords:1 }}</p>
<p>Wordcount: {{ user | wordcount }}</p>
<p>Default: {{ usern | default:"Unknown User" }}</p>
<p>Default_if_none: {{ user | default_if_none:"Unknown User" }}</p>
{% with text="Subash" %}
    <p>Center: "{{ text | center:20 }}"</p>
{% endwith %} 
<p>Remove_Spaces(Cut): {{ user | cut:" " }}</p> 

<br><br>
<h3>List filters</h3>
{# List and array filters #}
<p>Join: {{ items | join:"," }}</p>
<p>Length: {{ items | length }}</p>
<p>Random: {{ items | random }}</p>
<p>First_item: {{ items | first }}</p>
<p>Last_item: {{ items | last }}</p>
<p>Slice: {{ items | slice:"1:3" }}</p>

<p>Sorted by age</p>
{% for person in people|dictsort:"age" %}
    <p>{{ person.name }} - {{ person.age }}</p>
{% endfor %}

<br>

<h3>Numerical Filters</h3>
<p>Next year will be {{ current_year | add:1 }}</p>
{% for number in numbers %}
    <p>Number + 10 = {{ number | add:10 }}</p>
{% endfor %}

{% for item in items %}
    <p>Item {{ forloop.counter | add:1 }}: {{ item }}</p>
{% endfor %}

{% if number|divisibleby:2 %}
    <p>{{number}} is even.</p>
{% else %}
    <p>{{number}} is odd.</p>
{% endif %}

{% for item in items %}
    {% if forloop.counter|divisibleby:3 %}
        <p><strong>{{item}}</strong></p>
    {% else %}
        <p>{{ item }}</p>
    {% endif %}
{% endfor %}

<p>{{ 3.14159|floatformat:2 }}</p>

<p>Fixed decimal: {{ 25.5|floatformat:3 }}</p>

<p>Whole number: {{ 10.000000|floatformat:-1 }}</p>

<p>Date: {{ date|date:"Y-m-d" }}</p>

<p>Date: {{ date|date:"Y-F-d" }}</p>

<p>Date: {{ date|date:"y-M-l" }}</p>

{% endblock %}
