{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="form-container">
        
            <h1>SignUp</h1>
            <hr>
            <form>
                <label for="first_name">First_name :</label>
                <input type="text" placeholder="Enter first_name" required>
                <br>
                <label for="second_name">Second_name :</label>
                <input type="text" placeholder="Enter second_name" required>
                <br>
                <label for="mail_id">Mail_id :</label>
                <input type="email" placeholder="Enter mail_id" required>
                <br>
                <div class="button">
                    <button>Submit</button>
                </div>   
            </form>
        
       
    </div>
</body>
</html>