
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            width: 300px;
            text-align: center;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        hr {
            border: 1px solid #ddd;
            width: 80%;
            margin: 10px auto;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
            text-align: left;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid black;
        }


        input:focus {
            border-color: rebeccapurple;
        }

        .button {
            margin-top: 15px;
        }

        button {
            background: rebeccapurple;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }


        button:hover {
            background: green;
        }
